footer
  .footer-wrapper
    h2.title-text.small
      a(href='impressum.html' target='blank') Impressum
    p.lead-text
    |Koalition gegen antimuslimischen Rassismus 
    br 
    |Stiftgasse 8, 1070 Wien
    br 
    a(href='mailt:office@diekoalition.at') office@diekoalition.at
    br
