
<section id="socialmedia" class="socialmedia">
  <div class="flex flex--center">
    <div class="col-lead">
      <h1 class="title-text">Social Media</h1>{% assign tabs=site.tabs | where:'language', page.language %}
      <div id="btn-container" class="tab-container">
        {% for tab in tabs %}
        {% for link in tab.links %}
        <button data-btnid="{{ link.ref }}" onclick="{{ link.ref | prepend: 'openFeed(this, &quot;' | append: '&quot;)' }}" class="sm-button button-cta inline">{{link.title}}</button>{% endfor %}
        {% endfor %}
      </div>{% for tab in tabs %}
      {% for link in tab.links %}
      <div id="{{ link.ref }}" class="feed-container {{ link.initClass }}">
        {% for media in link.socialmedia %}
        {% if media.type=='twitter' %}
        <div id="twitter" data-link="{{media.href}}" class="feed twitter"><a href="#{{media.href}}" class="twitter-timeline"></a></div>{% endif %}
        {% if media.type=='facebook' %}
        <div id="facebook" data-link="{{media.href}}" class="feed facebook"><div class="fb-page" data-href="{{media.href}}" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="{{media.href}}" class="fb-xfbml-parse-ignore"><a href="{{media.href}}">{{link.title}}</a></blockquote></div>
        </div>{% endif %}
        {% endfor %}
      </div>{% endfor %}
      {% endfor %}
      <div id="fb-root"></div>
    </div>
  </div><script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="2qVIHEg1"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>